<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <typeAlias alias="CategoryEntity" type="com.jspBoard.entity.CategoryEntity"/>
        <typeAlias alias="BoardListParamDto" type="com.jspBoard.dto.BoardListParamDto"/>
        <typeAlias alias="BoardListDto" type="com.jspBoard.dto.BoardListDto"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3305/ebrainsoft_study"/>
                <property name="username" value="ebsoft"/>
                <property name="password" value="ebsoft"/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
        <mapper resource="mapper/post-mapper.xml"/>
    </mappers>


</configuration>